body {
  font-family: 'Spicy Rice', cursive;
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  min-height: 100vh;

}


footer {

  position: absolute;

  left: 0;

  bottom: 0;

  width: 100%;

} 
.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
  animation-delay: 2s;
  margin-bottom: 20px;
  text-align: center;
}

.my-elementos {
  display: inline-block;
  margin: 0 0.5rem;

  animation: tada; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
  animation-delay: 2s;
  margin-bottom: 20px;
  text-align: center;
}

.my-amistad {
  display: inline-block;
  margin: 0 0.5rem;

  animation:  	zoomOut; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
  animation-delay: 2s;
  margin-bottom: 20px;
  text-align: center;
}
.my-project {
  display: inline-block;
  margin: 0 0.5rem;

  animation: rollIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
  animation-delay: 2s;
  margin-bottom: 20px;
  text-align: center;
}
.my-index {
  display: inline-block;
  margin: 0 0.5rem;

  animation: slideOutLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
  animation-delay: 2s;
  margin-bottom: 20px;
  text-align: center;
}



