<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title%>
  </title>
  <%- include('partials/head.html') %>
</head>

<body>

  <%- include('partials/navigation.html') %>


<div class="conteiner">
  <header class="column">

      <div class="my-element">
        <img src="/img/familia.jpg" width="500" height="400" alt="">
      </div>
      
      
      <div class="my-element">
        <img src="/img/familia2.jpg" width="500" height="400" alt="">
      </div>


      <div class="my-element">
        <img src="/img/familia3.jpg" width="500" height="400" alt="">
      </div>
      
      
      <div class="my-element">
        <img src="/img/familia4.jpg" width="500" height="400" alt="">
      </div>


      <div class="my-element">
        <img src="/img/familia5.jpg" width="500" height="400" alt="">
      </div>
      
      
      <div class="my-element">
        <img src="/img/familia6.jpg" width="500" height="400" alt="">
      </div>

      <div class="my-element">
        <img src="/img/familia7.jpg" width="500" height="400" alt="">
      </div>
  </header>
</div>

<!-- footer -->

<%- include('partials/footer.html') %>


</body>

</html>