<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title%>
  </title>
  <%- include('partials/head.html') %>
</head>

<body>

  <%- include('partials/navigation.html') %>






<div class="my-project">
  <img src="/img/programador.jpg" width="500" height="400" alt="andres">
</div>
<div class="my-amistad">
  <img src="/img/casa.jpg" width="500" height="400" alt="andres">
</div>
<div class="my-amistad">
  <img src="/img/dinero.jpg" width="500" height="400" alt="andres">
</div>

<div class="my-amistad">
  <img src="/img/finish.png" width="500" height="400" alt="andres">
</div>



  <!-- footer -->
  
  <%- include('partials/footer.html') %>

</body>

</html>